{% extends 'RestBundle::template.html.twig' %}

{% block coverPageContent %}
    {% block coverContent %}
        <div class="inner cover">
            <h1 class="cover-heading">{ "Welcome to" : "WaterUp REST API" }</h1>
            <p class="lead">Welcome at the INF1I WaterUp API on this domain you can use the WaterUp Backend resources like statisics, plant spiecies information and more.</p>
            <p class="lead">
                <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
            </p>
        </div>
    {% endblock %}

    {% block coverFooter %}
        <div class="mastfoot">
            <div class="inner">
                <p>&copy; <a href="https://github.com/INF1I">the INF1I project team</a></p>
            </div>
        </div>
    {% endblock %}

{% endblock %}